
<form id="form-comment" class="js-book-comment-form" method="post" action="{% url 'comment:create' %}">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Добавити коментар</h4>
    </div>
    <div class="modal-body">
        {{form.as_p }}
    </div>    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        <button type="submit" class="btn btn-primary">Створити коментар</button>
    </div>
</form>