
<div class="comment-{{ comment.id }}">
    <div class="comment" data-id="{{ comment.id }}">
        <p>
            {% if comment.children %}
                <span class="caret caret-toggle"></span>
            {% endif %}

            {{ comment.text }}
        </p>
        <br>
        <p>
            <strong>Створений:</strong> {{ comment.date|timesince }} тому |
            <strong>Кількість коментарів:</strong> <em>{{ comment.children.count }} </em> |
            <strong>Користувач: </strong>

            {% if not comment.user.is_superuser %}

                {{ comment.user.get_full_name }}

            {% else %}

                <strong>Admin</strong>

            {% endif %}

        </p>
    </div>
    <div>
        <p>
            <button type="button" data-comment-id="{{ comment.id }}"
                    data-id="{% if message %}{{ message.id }}{% else %}{{ comment.object_id }}{% endif %}"
                    data-form="{% url "comment:create" %}" class="btn btn-primary js-create-comment"
                    {% if not request.user.is_authenticated %} data-toggle="tooltip"
                    data-original-title="Ви не авторизувалися на сайті!"
                    {% endif %}>
                <span class="glyphicon glyphicon-plus"></span>
                коментувати
            </button>

            <button type="button" data-comment-id="{{ comment.id }}"
                    data-id="{% if message %}{{ message.id }}{% else %}{{ comment.object_id }}{% endif %}"
                    class="btn btn-warning btn-sm js-update-comment"
                    data-form="{% url 'comment:update' comment.id %}"
                    {% if request.user !=  comment.user %} data-toggle="tooltip"
                    data-original-title="Даний коментар створене не Вами! " disabled="disabled"
                    {% endif %}>
                <span class="glyphicon glyphicon-pencil"></span>
                Змінити
            </button>

            <button type="button" data-comment-id="{{ comment.id }}"
                    data-id="{% if message %}{{ message.id }}{% else %}{{ comment.object_id }}{% endif %}"
                    class="btn btn-danger btn-sm js-delete-comment"
                    data-form="{% url 'comment:delete' comment.id %}"
                    {% if request.user !=  comment.user %} data-toggle="tooltip"
                    data-original-title="Дане повідомлення створене не Вами! " disabled="disabled"
                    {% endif %}>
                <span class="glyphicon glyphicon-trash"></span>
                Видалити
            </button>
        </p>
        <hr/>
    </div>

    <div id="comments-for-comment-id-{{ comment.id }}" class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" hidden="hide">

        {% for comment in comment.children %}

            {% include "partial_comment.html" %}

        {% endfor %}

    </div>

</div>

