{% extends "base.html" %}{% load staticfiles %}{% load humanize %}

{% block title %}|{{ title }}{% endblock %}


{% block style %}

    <link href="{% static 'css/message.css' %}" rel="stylesheet">

{% endblock %}


{% block scripts %}

    <script src="{% static 'js/message.js' %}"></script>
    <script src="{% static 'js/comment.js' %}"></script>

    <script>

        $(function(){
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>

{% endblock scripts %}


{% block content %}

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            {% if request.user.is_authenticated %}

                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-5">
                    <h3>
                        <a href="{% url 'message:enter' %}" data-toggle="tooltip" data-original-title="Перейти на домашню сторінку" data-placement="right">
                            Привіт, {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}!
                        </a>
                    </h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7">

                    {% if linkedin_login %}

                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                            <a href="{{ linkedin_login.extra_data.public_profile_url }}">
                                <img class="img-rounded" style="float: right;" src="{{ linkedin_login.extra_data.picture_url }}"
                                     data-toggle="tooltip" data-original-title="{{ request.user.get_full_name }}"
                                     data-placement="bottom"/>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="nav navbar-nav navbar-right">
                                <h4>
                                    <strong>
                                        <a href="{% url 'logout' %}?next={{ request.path }}">Вийти</a>
                                    </strong>
                                </h4>
                            </div>
                        </div>

                    {% else %}

                        <div class="col-md-6 nav navbar-nav navbar-right">
                            <h4>
                                <strong>
                                    <a href="{% url 'logout' %}?next={{ request.path }}">Вийти</a>
                                </strong>
                            </h4>
                        </div>

                    {% endif %}

                </div>

            {% else %}

                <h3 class="text-center">
                    <a href="{% url 'message:enter' %}" data-toggle="tooltip" data-original-title="Перейти на сторінку авторизації" data-placement="bottom">
                        Щоб залишити повідомлення або коментар зайдіть на сайт!
                    </a>
                </h3>

            {% endif %}

        </div>
    </div>


    <div class="container">
        <div class="row">
            <div id="create-message" class="col-md-5">

                {% include "partial_message_form.html" %}

                <hr/>
            </div>
        </div>

        <div class="row">
            <div id="message-list">

                {% include "partial_messages_list.html" %}

            </div>
        </div>

    </div>

    <!-- THE MODAL WE WILL BE USING -->
<div id="modal-comment" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

{% endblock %}