<div id="partial-message-{{ message.id }}">
    <div class="message col-md-12" data-id="{{ message.id }}">
        <blockquote>

            {% if message.comments %}
                <span class="caret caret-toggle"></span>
            {% endif %}

            <strong>({{ message.date|date:"d M Y"}}p.)</strong>

            <em> {{ message.text }}</em>
        </blockquote>
    </div>
    <div class="col-md-12">
        <p>
            <strong>Кількість коментарів: </strong>
            <em>  {{ message.comments.count }}</em>

            {% if request.user.is_authenticated and not request.user.is_superuser %}
                <strong> | Користувач: </strong>
                <em>  {{ message.user.get_full_name }}</em>
            {% endif %}

            <strong> | Дата створення: </strong>
            <em>  {{ message.date }}</em>
            <strong> | Дата оновлення: </strong>
            <em>  {{ message.update }}</em>
        </p>

        <p>
            <button data-id="{{ message.id }}" data-form="{% url "comment:create" %}"
                    type="button" class="btn btn-toolbar js-create-comment"
                    {% if not request.user.is_authenticated %} data-toggle="tooltip"
                    data-original-title="Ви не авторизувалися на сайті!"
                    {% endif %}>
                <span class="glyphicon glyphicon-plus"></span>
                коментувати {{ message.id }}
            </button>

            <button type="button" class="btn btn-warning btn-sm js-update-message"
                    data-url="{% url 'message:update' message.id %}"
                    {% if request.user !=  message.user %} data-toggle="tooltip"
                    data-original-title="Дане повідомлення створене не Вами! " disabled="disabled"
                    {% endif %}>
                <span class="glyphicon glyphicon-pencil"></span> Змінити повідомлення
            </button>

            <button type="button" class="btn btn-danger btn-sm js-delete-message"
                    data-url="{% url 'message:delete' message.id %}"
                    {% if request.user !=  message.user %} data-toggle="tooltip"
                    data-original-title="Дане повідомлення створене не Вами! " disabled="disabled"
                    {% endif %}>
                <span class="glyphicon glyphicon-trash"></span> Видалити повідомлення
            </button>

        </p>
        <hr/>
    </div>


    <div id="comments-for-message-id-{{ message.id }}" class="col-md-offset-1" hidden="hide">

        {% include "partial_comments_list.html" %}

    </div>
</div>