
{% if messages.has_other_pages %}
    <div id="pagination">
        <ul class="pagination">
            {% if messages.has_previous %}
                <li><a href="?page={{ messages.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="">&laquo;</a></li>
            {% endif %}
            {% for page in messages.paginator.page_range %}
                {% if page == messages.number %}
                    <li class="active"><a href="?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page }}</a></li>
                {% endif%}
            {% endfor %}
            {% if messages.has_next %}
                <li><a href="?page={{ messages.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo</a></li>
            {% else %}
                <li class="disabled"><a href="">&raquo</a></li>
            {% endif %}
        </ul>
    </div>

{% endif %}
